// Scripts
script(src="static/js/jquery.min.js")
script(src="static/js/jquery.poptrox.js")
script(src="static/js/skel.min.js")
script(src="static/js/util.js")
script(src="static/js/exif.js")
//if lte IE 8 
    script(src="static/js/ie/respond.min.js")
script(src="static/js/main.js")