.da-overlay {
    @include vendor('background-image', 'linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%)');
    @include vendor('pointer-events', 'none');
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: flex-end;
    &:before {
        content: "\f03d";
        font-family: 'FontAwesome';
        color: rgba(0,0,0,.1);
        display: block;        
        position: absolute;
        line-height: 1;
        bottom: 0;
        right: 3%;
        font-size: 8em;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
}
.da-aware[class*="-out"]>.da-overlay {
    top: 0;
    left: 0
}

@keyframes tin {
	0% { top: -100%; left: 0 }
	100% { top: 0; left: 0 }
}
@keyframes rin {
	0% { op: 0; left: 100% }
	100% { top: 0; left: 0 }
}
@keyframes bin {
	0% { top: 100%; left: 0 }
	100% { top: 0; left: 0 }
}
@keyframes lin {
	0% { top: 0; left: -100% }
	100% { top: 0; left: 0 }
}
@keyframes tout {
	0% { top: 0; left: 0 }
	100% { top: -100%; left: 0 }
}
@keyframes rout {
	0% { top: 0; left: 0 }
	100% { top: 0; left: 100% }
}
@keyframes bout {
	0% { top: 0; left: 0 }
	100% { top: 100%; left: 0 }
}
@keyframes lout {
	0% { top: 0; left: 0 }
	100% { top: 0; left: -100% }
}

.t-in>.da-overlay {
	top: 100%;
	left: 0
}
.t-in:hover>.da-overlay {
	animation: bout 0.2s ease
}
.t-out>.da-overlay {
	top: 0%;
	left: 0%;
	animation: bin 0.2s ease
}
.r-in>.da-overlay {
	top: 0;
	left: -100%
}
.r-in:hover>.da-overlay {
	animation: lout 0.2s ease
}
.r-out>.da-overlay {
	top: 0%;
	left: 0%;
	animation: lin 0.2s ease
}
.b-in>.da-overlay {
	top: -100%;
	left: 0
}
.b-in:hover>.da-overlay {
	animation: tout 0.2s ease
}
.b-out>.da-overlay {
	top: 0%;
	left: 0%;
	animation: tin 0.2s ease
}
.l-in>.da-overlay {
	top: 0;
	left: 100%
}
.l-in:hover>.da-overlay {
	animation: rout 0.2s ease
}
.l-out>.da-overlay {
	top: 0%;
	left: 0%;
	animation: rin 0.2s ease
}